---
layout: img
---
{% include header.html type="page" %}
<!-- Main -->
<div id="main">
  <!-- Header -->
  <header id="header">
    <h1>Gallery</h1>
    <h2>Visit <a href="/map">Travel Map</a></h2>
    <h2>Back <a href="/">home</a></h2>
  </header>

  <!-- Thumbnail -->
  <section id="thumbnails">
	{% assign images = site.static_files | where: "extname", ".jpeg" %}
    {% for image in images %}
        <article>
          <a class="thumbnail" href="/gallery/{{ image.name }}"><img src="/gallery/{{ image.name }}" alt="{{ image.basename }}" /></a>
          <h2>{{ image.basename | replace: "_", " " }}</h2>
        </article>
    {% endfor %}
  </section>
</div>
